@{
    string url = Url.Action("New", "Page");
}
<div style="display: flex;height:500px;">
    @Html.ActionLink("Сделать счет", "New", "", new { @class = "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary", style="margin:auto" })
</div>