@model projectD.Models.Invoice
@{
    string sellerUrl = Url.Action("Seller", "Card");
    string buyerUrl = Url.Action("Buyer", "Card");
}
@*<script type="text/javascript">
    $(document).ready(function () {
        $("#sellerCard").load("/Card/Seller?Id=0")
        $("#buyerCard").load("/Card/Buyer?Id=0")
    })
</script>*@
<div>
    <form action="#">
        <div class="mdl-grid">
            @*Карточка с данными продавца*@
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--11-col mdl-grid" id="sellerCard">
                @Html.Partial("~/Views/Card/Seller.cshtml")
            </div>
            @*Карточка с данными покупателя*@
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col-desktop mdl-cell--11-col-tablet mdl-grid" id="buyerCard">
                @Html.Partial("~/Views/Card/Buyer.cshtml")
            </div>
            @*Таблица с товарами*@
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col-desktop mdl-cell--11-col-tablet">
                @Html.Partial("~/Views/Card/Items.cshtml")
            </div>
        </div>
    </form>
</div>




