@model projectD.Models.Invoice
@{
    string sellerUrl = Url.Action("Seller", "Card");
    string buyerUrl = Url.Action("Buyer", "Card");
}
@*<script type="text/javascript">
    $(document).ready(function () {
        $("#sellerCard").load("/Card/Seller?Id=0")
        $("#buyerCard").load("/Card/Buyer?Id=0")
    })
</script>*@
<style>
    .mdl-card.card-item {
        width:100%;
        min-height:50px;
        margin-bottom:8px;
    }
        .mdl-card.card-item > div {
            padding: 8px 16px;
            border-top: 1px solid rgba(0,0,0,.1);
        }
        .mdl-card.card-item > div:first-child{
            border-top:none;
        }

    .flex-container {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row nowrap;
        justify-content: space-around;
    }
        .flex-container>div{
            flex-grow:1;
            margin:auto;
        }
</style>
<div>
    <form action="#" id="newDocForm">
        <div class="mdl-grid">
            @*Карточка с данными продавца*@
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--11-col mdl-grid" id="sellerCard">
                @Html.Partial("~/Views/Card/Seller.cshtml")
            </div>
            @*Карточка с данными покупателя*@
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-tablet" id="buyerCard">
                @Html.Partial("~/Views/Card/Buyer.cshtml")
            </div>
            @*Добавление товара*@
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-tablet" id="itemCard">
                @Html.Partial("~/Views/Card/NewItem.cshtml")
            </div>
            <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--8-col-tablet" style="padding:0px">
                @*Список товаров*@
                <div id="itemList">
                    
                </div>
                @* Итоги *@
                <div class="mdl-card mdl-shadow--2dp" style="width:100%;min-height:50px;padding:8px 16px;" id="resultCard">
                    <div class="flex-container" style="margin-bottom:8px">
                        <div style="max-width:100px">
                            <span class="mdl-color-text--primary">Итого:</span>
                        </div>
                        <div>
                            <span id="resultDigit">1234</span>
                        </div> 
                    </div>  
                    <div class="flex-container">
                        <div style="max-width: 100px">
                            <span class="mdl-color-text--primary">Прописью:</span>
                        </div>
                        <div>
                            <span id="resultLit">одна тысяча двести тридцать четыре</span>
                        </div> 
                    </div>
                    <div class="mdl-grid">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" id="applyBtn">
                            Сформировать
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@Scripts.Render("~/Scripts/pages/new.js")




