@model projectD.Models.Invoice
@*Блок "Товары по счету"*@
<div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Товары по счету</h2>
</div>
<div class="mdl-card__menu">
    <button onclick="return false" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary mdl-button--icon">
        <i class="material-icons">add</i>
    </button>
</div>
<div class="mdl-card__supporting-text">
    <div>
        @Html.Editor("Name", "String", new { fieldTitle = "Наименование" })
        @Html.Editor("Type", "String", new { fieldTitle = "Ед. измерения" })
        @Html.Editor("Count", "Double", new { fieldTitle = "Количество" })
        @Html.Editor("Price", "Double", new { fieldTitle = "Цена" })
    </div>
</div>
<div class="mdl-card__actions">
    <button onclick="return false" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
        Внести в список
    </button>
</div>

